<!DOCTYPE html>
<html>
	<head>
		<title>To Do List - VueJS</title>
	 	<link rel="stylesheet" href="assets/css/style.css">		
	</head>
	<body>
		<div>
			<section class="toDoList">
				<div id="vueToDo">
			        <div id="date">{{ date }}</div>
			        <b><div id="time">{{ time }}</div><b>
			        <br><br>
					<input type="text" id="task" placeholder="Add your tasks for the day..." @keyup.enter="addTask" v-model="task" />
					<ul id="tasks" style="list-style: none;">
						<li v-for="(toDo, index) in tasksArray" class="to_do">
							<input class="toggle" type="checkbox" v-model="toDo.completed" @click="markAsCompleted(index)" />
							<label v-show="!editing[toDo.id]" class="todo_check">{{ toDo.todo }}</label>
							<input v-show="editing[toDo.id] && toggleInput==1 && toggleLabel==0 && toDo.completed==false" type="text" v-model="toDo.todo" :ref="'todoRef'+toDo.id" @keydown.enter="updateTask(toDo.id)" />
							<button class="edit" @click="editTask(toDo.id)" v-if="toDo.completed==false">edit</button>
							<button class="delete" @click="deleteTask(index)">x</button><span> {{ getCreatedTime(toDo.createdOn) }} </span>
						</li>
					</ul>
				<div>	
			</section>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="assets/js/vueScript.js"></script>
	</body>
</html>