.unchecked {
	text-decoration: none;
}

.taskList {
    cursor: pointer;
}

.inputTask {
	border: 0;
}     

input[type=checkbox]:checked + label {
  	text-decoration: line-through;
}  

#time {
    text-align: center;
}

#date {
	display: block;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 8px;
}

#task {
    height: 50px;
    border: 0;
    width: 100%;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #333;
    outline: none;
    font-size: 15px;
    padding: 0 15px;
    font-family: inherit;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;	
}

.to_do {
    height: 50px;
    border: 0;
    width: 100%;
    background: #ffff;
    border: 1px solid #ddd;
    color: #333;
    outline: none;
    font-size: 15px;
    padding: 0 15px;
    font-family: inherit;
}


body {
    font-size: 16px;
    font-family: "Helvetica-Neue", Helvetica, Arial;
    color: #333;
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgb(251, 246, 233) 100%);
}

.toDoList {
    padding: 0 0 2em;
    width: 600px;
    margin: auto;
}

label {
    flex: 1;
    padding: 13px 1em 13px 0;
    line-height: 1.5;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo_check {
    padding: 0 1em;
    width: 50px;
    height: 50px;
    line-height: 3.7;
    font-size: 16px;
    font-weight: normal;
}

ul {
    margin-top: 0px;
}

#to_do_list {
    height: 50px;
    border: 0;
    width: 100%;
    background: #ffff;
    border: 1px solid #ddd;
    color: #333;
    outline: none;
    font-size: 15px;
    padding: 0 15px;
    font-family: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.edit {
    margin: 0 0 0 175px;
}